/* colors */
.quick-ajax-form-wrap,
#shortcode-box-wrap {
    --qapl-theme-color: #2271b1;
    --qapl-bg: #ffffff;
    --qapl-bg-muted: #f6f7f7;
    --qapl-border: #c3c4c7;
    --qapl-text-muted: #50575e;
    --qapl-switch-bg: #cccccc;
    --qapl-switch-shadow: rgba(0,0,0,0.5);
    --qapl-tab-bg: #dcdcdc;
    --qapl-code-bg: #fcfcfc;
}
.light-style {
    --qapl-theme-color: #04a4cc;
}
.modern-style {
    --qapl-theme-color: #3858e9;
}
.blue-style {
    --qapl-theme-color: #e1a948;
}
.coffee-style {
    --qapl-theme-color: #c7a589;
}
.ectoplasm-style {
    --qapl-theme-color: #a3b745;
}
.midnight-style {
    --qapl-theme-color: #e14d43;
}
.ocean-style {
    --qapl-theme-color: #9ebaa0;
}
.sunrise-style {
    --qapl-theme-color: #dd823b;
}
/* shortcode box */
#shortcode-box-wrap{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    margin-top:16px;
}
#shortcode-box-wrap .shortcode-description{
    padding: 0px 2px;
    margin-bottom:4px;
}
#shortcode-box-wrap .click-and-select-all{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: auto;
}
#shortcode-box-wrap pre{
    margin:0;
    padding: 10px 10px 11px;
    border:1px solid #8c8f94;
    border-radius: 3px;
    background: var(--qapl-code-bg);
}
#shortcode-box-wrap code{
    line-height: 1;
    background: var(--qapl-code-bg);
    white-space: pre-wrap;
    word-break: break-word;
    cursor:pointer;
}
/* switch button */
.quick-ajax-form-wrap .switch-checkbox{
    display: inline-block;
    min-height: 30px;
}
.quick-ajax-form-wrap .switch-wrap {
    position: relative;
    width: 40px;
    height: 20px;
    margin-top: 6px;
}
.quick-ajax-form-wrap .switch-wrap input {
    opacity: 0;
    width: 0;
    height: 0;
}
.quick-ajax-form-wrap .switch {
    border-radius: 12px;
}
.quick-ajax-form-wrap .switch:before {
    border-radius: 50%;
}
.quick-ajax-form-wrap input + .switch {
    position: absolute;
    cursor: pointer;
    top: -1px;
    left: 0;
    right: 0;
    bottom: 1px;
    background-color: var(--qapl-switch-bg);
    -webkit-box-shadow: inset 0 0 3px var(--qapl-switch-shadow);
            box-shadow: inset 0 0 3px var(--qapl-switch-shadow);
    -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
}
.quick-ajax-form-wrap .switch:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: var(--qapl-bg);
    -webkit-transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
}
.quick-ajax-form-wrap input:checked + .switch {
    background-color: var(--qapl-theme-color);
    -webkit-box-shadow: inset 0 0 3px var(--qapl-switch-shadow);
            box-shadow: inset 0 0 3px var(--qapl-switch-shadow);
}
.quick-ajax-form-wrap input:checked + .switch:before {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
}
/* quick ajax form wrap */
.quick-ajax-form-wrap{
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -ms-flex-wrap: wrap;  
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.quick-ajax-form-wrap select:focus {
    border-color: var(--qapl-theme-color);
    -webkit-box-shadow: 0 0 0 1px var(--qapl-theme-color);
            box-shadow: 0 0 0 1px var(--qapl-theme-color);
}
.quick-ajax-form-wrap .quick-ajax-field-container{
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap:16px;
    visibility: visible;
    opacity:1;
    margin-bottom: 16px;
    -webkit-transition: opacity 0.15s ease, margin-bottom 0.15s ease;
    transition: opacity 0.15s ease, margin-bottom 0.15s ease;
}
.quick-ajax-form-wrap .quick-ajax-field-container.inactive{
    visibility: hidden;
    height: 0;
    opacity:0;
    margin-bottom: 0;
}
.quick-ajax-form-wrap .quick-ajax-field-container > label{
    -webkit-box-flex: 0;
        -ms-flex: 0 0 210px;
            flex: 0 0 210px;
    margin-top: 6px;
}
.quick-ajax-form-wrap .quick-ajax-field-container > .quick-ajax-field {
    max-width: 580px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 0px;
            flex: 1 1 0;
}
.quick-ajax-form-wrap .quick-ajax-field-container .quick-ajax-field > div,
.quick-ajax-form-wrap .quick-ajax-field-container .quick-ajax-field > select,
.quick-ajax-form-wrap .quick-ajax-field-container .quick-ajax-field > input{
    max-width: 100%;
    width: 100%;
    margin: 0;
}
.quick-ajax-form-wrap .quick-ajax-field-container.quick-ajax-multiselect-field .quick-ajax-field .quick-ajax-field-options{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.quick-ajax-form-wrap .quick-ajax-field-container.quick-ajax-multiselect-field .quick-ajax-field .quick-ajax-field-options > .quick-ajax-multiselect-option{
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 3);
            flex: 0 1 calc(100% / 3);
    min-width: 180px;    
    padding:6px 0;
    min-height: 32px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.quick-ajax-form-wrap .quick-ajax-field-container.quick-ajax-multiselect-field .quick-ajax-field .quick-ajax-field-options > .quick-ajax-multiselect-option label{
    cursor:pointer;
}
.quick-ajax-form-wrap .quick-ajax-field-container .quick-ajax-field-desc{
    margin-top: 5px;
    margin-bottom: 0;
    color: var(--qapl-text-muted);
    font-style: italic;
}
@media (max-width: 782px) {
    .quick-ajax-form-wrap .quick-ajax-field-container > label{
        -ms-flex-preferred-size:100%;
            flex-basis:100%;
        margin-top: 0;
        margin-right: 0;
    }
    .quick-ajax-form-wrap .quick-ajax-field-container > .quick-ajax-field{
        -ms-flex-preferred-size:100%;
            flex-basis:100%;
        max-width: 100%;
    }    
 }
 /* tabs */
.quick-ajax-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    overflow: hidden;
}
.quick-ajax-tabs:before{
    content:'';
    position: absolute;
    width:100%;
    bottom:0;
    height: 1px;
    background-color: var(--qapl-border);
}
.quick-ajax-tab-button {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 0;
    background:var(--qapl-tab-bg);
    border:1px solid var(--qapl-border);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin:0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: background-color 0.3s ease, border-color 0.3s ease;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
.quick-ajax-tab-button:first-of-type{
    margin-left:0;
}
.quick-ajax-tab-button:hover{
    background: var(--qapl-bg-mute);
}
.quick-ajax-tab-button.active{
    background:var(--qapl-bg);
    z-index: 1;
    border-bottom:1px solid var(--qapl-bg);
}
.quick-ajax-tab-content,
.quick-ajax-tab-content[hidden]{
    position: relative;
    background: var(--qapl-bg);
    padding: 16px;
    border: 1px solid var(--qapl-border);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.04);
            box-shadow: 0 1px 1px rgba(0,0,0,.04);
    display: none;  
}
.quick-ajax-tab-content.active{
    display: block;
}
.quick-ajax-tabs + .quick-ajax-tab-content,
.quick-ajax-tab-content + .quick-ajax-tab-content{
    border-top: none;
}
/* function-generator-options */
.function-generator-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px; 
}
.function-generator-options{
    max-width: 580px;
}
.function-generator-options .quick-ajax-field-container.quick-ajax-multiselect-field .quick-ajax-field .quick-ajax-field-options > .quick-ajax-multiselect-option{
    min-width: 50%;
}
.function-generator-result{
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 480px;
}
.function-generator-result > pre{
    /* max-width: 420px; */
    overflow: auto;
}
@media (max-width: 1200px) {
    .function-generator-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    function-generator-result,
    .function-generator-options{
        width:100%;
        max-width: unset;
    }
}
.quick-ajax-form-wrap code.no-background{
    background: transparent;
    padding: 3px 0px 2px;
    font-size: 14px;
}
.quick-ajax-form-wrap code.code-tag{
    padding: 2px 4px 3px;
    margin: 0 1px;
    background: rgba(0, 0, 0, .07);
}
.quick-ajax-form-wrap pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
.quick-ajax-form-wrap ul.ul-numbered{
    list-style-type: decimal;
    padding-left: 13px;
}
.quick-ajax-form-wrap li ul{
    margin-top: 6px;
}
/* accordion block */
.quick-ajax-accordion-wrapper{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 16px;
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 1.5em;
    min-height: 44px;
    background: var(--qapl-bg);
    border: 1px solid var(--qapl-border);
    cursor: pointer;
    outline: unset;
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle:hover{
    background: var(--qapl-bg-muted);
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle:focus,
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle:active {
    outline-width: 2px;
    outline-style: solid;
    outline-offset: -2px;
    outline-color: var(--qapl-theme-color);
    background-color: var(--qapl-bg-muted);   
    z-index: 1;
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle.active{
    background:var(--qapl-bg);
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle.active:hover{
    background: var(--qapl-bg-muted);
}
.quick-ajax-accordion-wrapper .accordion-title{
    max-width: calc(100% - 26px);
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    margin:0;
}
.quick-ajax-accordion-wrapper .accordion-icon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle.active .accordion-icon{
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
}
.quick-ajax-accordion-wrapper .accordion-icon span{
    pointer-events: none;
    position: absolute;
    border: solid #50575e;
    border-width: 0 2px 2px 0;
    height: .5rem;
    width: .5rem;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-70%) rotate(45deg);
        -ms-transform: translateY(-70%) rotate(45deg);
            transform: translateY(-70%) rotate(45deg);
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-content{
    display: none;
    border: 1px solid var(--qapl-border);
    border-top: none;
    padding: 0 1.5em 1em 1.5em;
}
.quick-ajax-accordion-wrapper .quick-ajax-accordion-toggle.active + .quick-ajax-accordion-content:before{
    content: "";
    position: absolute;
    display: block;
    background: var(--qapl-bg);
    height: 1px;
    left: 1px;
    right: 1px;
    margin-top: -1px;
}
/* content loader animation */
.qapl-admin-page-loader {
    position: relative;
    height: 20px;
    width: 40px;
    padding:6px 0;
    margin-left: 0;
    vertical-align: middle;
}
.qapl-admin-page-loader span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: #50575e;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    opacity: 0;
    -webkit-animation: qapl-admin-loader-animation 1.8s linear infinite;
            animation: qapl-admin-loader-animation 1.8s linear infinite;
}
.qapl-admin-page-loader span:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}
.qapl-admin-page-loader span:nth-child(2) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.qapl-admin-page-loader span:nth-child(3) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
}
@-webkit-keyframes qapl-admin-loader-animation {
    0% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(20px, -50%);
                transform: translate(20px, -50%);
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(40px, -50%);
                transform: translate(40px, -50%);
        opacity: 0;
    }
}
@keyframes qapl-admin-loader-animation {
    0% {
        -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    50% {
        -webkit-transform: translate(20px, -50%);
                transform: translate(20px, -50%);
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(40px, -50%);
                transform: translate(40px, -50%);
        opacity: 0;
    }
}