/* filter */
.quick-ajax-filter-container.quick-ajax-theme{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 3rem;
    text-align: center;
    justify-content: center;
}
.quick-ajax-filter-container.quick-ajax-theme button.qapl-button,
.quick-ajax-sort-options-container.quick-ajax-theme select{
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1;
    border:2px solid  #1e1e1e;
    background-color: #1e1e1e;
    color: #ffffff;
    box-shadow: 0 0 22px rgba(0,0,0,0.2);
    border-radius: 21px;
    outline:unset;
    transition: all 0.3s ease;
}
.quick-ajax-filter-container.quick-ajax-theme button.qapl-button:focus{
    outline: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}
.quick-ajax-filter-container.quick-ajax-theme button.qapl-button:hover,
.quick-ajax-filter-container.quick-ajax-theme button.qapl-button.active{
    border:2px solid  #1e1e1e;
    background-color: transparent;
    color: #1e1e1e;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
/* controls container */
.quick-ajax-controls-container{
    display: flex;
    gap: 10px;
}
.quick-ajax-controls-container .quick-ajax-filter-container{
    order:1;
}
.quick-ajax-controls-container .quick-ajax-sort-options-container{
    order:2;
}
.quick-ajax-controls-container .quick-ajax-filter-container.quick-ajax-theme{
    text-align: left;
    justify-content: start;
}
/* sort button */
.quick-ajax-sort-options-container.quick-ajax-theme{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.quick-ajax-sort-options-container.quick-ajax-theme .quick-ajax-sort-option-wrapper {
    display: inline-flex;
    position: relative;
}
.quick-ajax-sort-options-container.quick-ajax-theme select {
    background-color: #1e1e1e;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23ffffff" d="M2 5L0 3h4z"/></svg>'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 8px;
    background-size: 10px;
    padding: 5px 40px 5px 20px;
    min-height: 40px;
    font-weight: 500;
    text-align: center;
    outline: none;
    cursor: pointer;
    position: relative;
    appearance: none;
}
.quick-ajax-sort-options-container.quick-ajax-theme .quick-ajax-sort-option-wrapper select:hover,
.quick-ajax-sort-options-container.quick-ajax-theme .quick-ajax-sort-option-wrapper:hover select {
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%231e1e1e" d="M2 5L0 3h4z"/></svg>'); 
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 8px;
    background-size: 10px;
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}
.quick-ajax-sort-options-container.quick-ajax-theme .quick-ajax-sort-option-wrapper select:focus{
    background-color: transparent;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%231e1e1e" d="M2 0L0 2h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 16px;
    background-size: 10px;
    color: #1e1e1e;
    transition: all 0.3s ease;
}
.quick-ajax-sort-options-container.quick-ajax-theme .quick-ajax-sort-option-wrapper select option {
    background-color: #ffffff;
    color: #1e1e1e;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

/* post container */
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    gap: var(--qapl-gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--qapl-min-col-size), 1fr));
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-1 {
    --qapl-cols: 1;
    --qapl-min-col-size: 100%;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-2 {
    --qapl-cols: 2;
    --qapl-min-col-size: 300px;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-3 {
    --qapl-cols: 3;
    --qapl-min-col-size: 250px;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-4 {
    --qapl-cols: 4;
    --qapl-min-col-size: 220px;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-5 {
    --qapl-cols: 5;
    --qapl-min-col-size: 200px;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-6 {
    --qapl-cols: 6;
    --qapl-min-col-size: 180px;
    --qapl-gap: 2rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-7 {
    --qapl-cols: 7;
    --qapl-min-col-size: 160px;
    --qapl-gap: 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-8 {
    --qapl-cols: 8;
    --qapl-min-col-size: 150px;
    --qapl-gap: 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-9 {
    --qapl-cols: 9;
    --qapl-min-col-size: 140px;
    --qapl-gap: 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-10 {
    --qapl-cols: 10;
    --qapl-min-col-size: 130px;
    --qapl-gap: 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-11 {
    --qapl-cols: 11;
    --qapl-min-col-size: 120px;
    --qapl-gap: 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper.col-qty-12 {
    --qapl-cols: 12;
    --qapl-min-col-size: 110px;
    --qapl-gap: 1rem;
}
@media (min-width: 1024px) {
    .quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper[class*="col-qty-"] {
        grid-template-columns: repeat(var(--qapl-cols), 1fr);
        gap: var(--qapl-gap);
    }
}

.quick-ajax-posts-container.quick-ajax-theme .qapl-no-posts-found{
    display: block;
    width: 100%;
    text-align: center;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-end-message-container{
    display: block;
    width: 100%;
    text-align: center;
    opacity: 0;
    animation: qapl-fade-in 0.3s ease forwards;
    animation-delay: 0.5s;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-button{
    display: block;
    width: auto;
    margin:0 auto;
}

/* post-item */
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    box-sizing: border-box;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item div{
    box-sizing: border-box;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a:focus{
    outline: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a > div{
    position: relative;
    display: block;
    width: 100%;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

/* Default Post Item Template */
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a{
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-decoration: none;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:focus img{
    outline: none;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a > div{
    opacity:1;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:hover > div{
    opacity:0.8;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-image{
    display: flex;
    overflow: hidden;
    aspect-ratio: 5 / 3;
    order:1;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-image img{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-date{
    position: absolute;
    top:1rem;
    left:1rem;
    z-index: 1;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    width: auto;
    border-radius: 6px;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-date span{
    line-height: 1;
    padding: 0.5rem;
    font-size: 14px;
    font-weight:bold;
    color:#1e1e1e;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title{
    order:2;
    padding:0.5rem 1rem 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title,
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title > *{
    color:#1e1e1e;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description{
    order:3;
    padding:0 1rem 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description,
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description *{
    color:#1e1e1e; 
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-read-more{
    order:4;
    text-align: right;
    padding: 0 1rem 1rem;
    color:#1e1e1e;
    margin-top: auto;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-read-more p{
    margin-bottom:0;
}
.quick-ajax-posts-container.quick-ajax-theme.loading{
    margin-bottom: 0;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-load-more-container{
    display: block;
    width: 100%;
    opacity:1;
}
.quick-ajax-posts-container.quick-ajax-theme.loading .quick-ajax-load-more-container{
    display: none;
    opacity:0;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-load-more-container .qapl-load-more-wrapper{
    margin-top: 3rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-button{
    display: block;
    width: auto;
    margin:0 auto;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-load-more-container .qapl-load-more-button{
    display: block;
    padding: 10px 20px;    
    font-size: 18px;
    line-height: 1;
    border: 2px solid #1e1e1e;
    background-color: #1e1e1e;
    color: #ffffff;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    outline:unset;
    transition: all 0.3s;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-load-more-container .qapl-load-more-button:hover {
    border: 2px solid #1e1e1e;
    background-color: transparent;
    color: #1e1e1e;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.quick-ajax-posts-container .quick-ajax-load-more-container.infinite-scroll{
    visibility: hidden;
}

/* Loader Container */
.quick-ajax-posts-container .quick-ajax-loader-container{
    visibility: hidden;
    opacity:0;
    height: 0;
    transition: opacity 0.1s ease;
}
.quick-ajax-posts-container.loading .quick-ajax-loader-container{
    visibility: visible;
    opacity:1;
    height: auto;
    transition: opacity 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-loader-container{
    display: flex;
    margin:0 auto 0;
}
.quick-ajax-posts-container.quick-ajax-theme.loading .quick-ajax-loader-container{
    display: flex;
    min-height: 42px;
    height: auto;
}


/* Loader Icon Default */
.qapl-loader-default {
    border: 8px solid #ebeaea;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 1rem auto 1rem;
    animation: loader-one-spin 2s linear infinite;
  }
  .qapl-loader-default.dark-loader{
    border: 8px solid rgba(0,0,0,0.3);
    border-top: 8px solid rgba(0,0,0,0.6);
}
  
  @keyframes loader-one-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/* Loader Dot */
.qapl-loader-dot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1rem;
}

.qapl-loader-dot .dot {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    margin: 5px;
    animation: dotPulse 1.2s infinite ease-in-out both;
}
.qapl-loader-dot.dark-loader .dot{
    background: rgba(0,0,0,0.6);
}

.qapl-loader-dot .dot:nth-child(1) { animation-delay: -0.24s; }
.qapl-loader-dot .dot:nth-child(2) { animation-delay: -0.12s; }
.qapl-loader-dot .dot:nth-child(3) { animation-delay: 0; }

@keyframes dotPulse {
    0%, 100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}
/* Loader Wave */
.qapl-loader-wave {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 1rem;
}
  
.qapl-loader-wave .wave {
    width: 5px;
    height: 30px;
    background: rgba(255,255,255,0.1);
    margin: 0 2px;    
    animation: wave 1.2s infinite ease-in-out;
}
.qapl-loader-wave.dark-loader .wave {
    background: rgba(0,0,0,0.1);
    animation: wave-dark 1.2s infinite ease-in-out;
}
.qapl-loader-wave .wave:nth-child(1) { animation-delay: -1.1s; }
.qapl-loader-wave .wave:nth-child(2) { animation-delay: -1.0s; }
.qapl-loader-wave .wave:nth-child(3) { animation-delay: -0.9s; }
.qapl-loader-wave .wave:nth-child(4) { animation-delay: -0.8s; }
.qapl-loader-wave .wave:nth-child(5) { animation-delay: -0.7s; }
  
@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        background: rgba(255,255,255,1);
    }
}
@keyframes wave-dark {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        background: rgba(0,0,0,0.6);
    }
}

/* Fade-in Animation */
@keyframes qapl-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Image Background Post Template */
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img {
    position: relative;
    overflow: hidden;
    color: #fff;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a{
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    object-position: center;
    object-fit: cover;
    z-index: 1;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-no-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    border-radius: 4px;
    z-index: 0;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .post-content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    display: flex; /* enables alignment and ensures height */
    flex-direction: column; /* ensures content is stacked vertically */
    justify-content: space-between; /* spaces items evenly or pushes them to edges */
    height: 100%; /* takes full height of parent */
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .post-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0.9) 0%, rgba(0, 0, 0, 0.1) 65%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
    opacity: 0;
    z-index: -1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: all 0.6s ease;
}

.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a:hover > .post-content::before {
    left:0;
    opacity: 1; 
    transition: all 0.6s ease;
}

.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-date{
    position: relative;
    background: none;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-date span{
    padding:0;
    margin-bottom: 0.5rem;
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title{
    padding-top: 3rem;
    margin-top: auto;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title,
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title *{
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-description,
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-description *{
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-read-more{
    text-align: right;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin-top: 1rem;
    margin-left: auto;
    margin-bottom: 0;
    padding: 6px 20px 8px;
    text-transform: uppercase;
    border-radius: 7px;
    line-height: 1;
    opacity:0;
    transition: all 0.6s ease;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-read-more p{
    margin-bottom:0;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a:hover .qapl-read-more {
    opacity:1;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.6s ease;
}
