/* filter */
.quick-ajax-filter-wrapper.quick-ajax-style .quick-ajax-button{
    margin:5px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1;
    border:2px solid  var(--global--color-primary);
    background-color: var(--global--color-primary);
    color: transparent;
    box-shadow: 0 0 22px rgba(0,0,0,0.2);
    border-radius: 21px;
    transition: all 0.3s ease;
}
.quick-ajax-filter-wrapper.quick-ajax-style .quick-ajax-button:focus{
    outline: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}
.quick-ajax-filter-wrapper.quick-ajax-style .quick-ajax-button:hover,
.quick-ajax-filter-wrapper.quick-ajax-style .quick-ajax-button.active{
    border:2px solid  var(--global--color-primary);
    background-color: transparent;
    color: inherit;
    box-shadow: 0 0 14px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-posts-inner-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin-left:-1rem;
}
/* post-item */
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    padding:1rem;
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-2 .quick-ajax-post-item{
    width: calc(100% / 2); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-3 .quick-ajax-post-item{
    width: calc(100% / 3); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-4 .quick-ajax-post-item{
    width: calc(100% / 4); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-5 .quick-ajax-post-item{
    width: calc(100% / 5); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-6 .quick-ajax-post-item{
    width: calc(100% / 6); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-7 .quick-ajax-post-item{
    width: calc(100% / 7); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-8 .quick-ajax-post-item{
    width: calc(100% / 8); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-9 .quick-ajax-post-item{
    width: calc(100% / 9); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-10 .quick-ajax-post-item{
    width: calc(100% / 10); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-11 .quick-ajax-post-item{
    width: calc(100% / 11); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .col-qty-12 .quick-ajax-post-item{
    width: calc(100% / 12); 
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    background-color:#fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a:focus{
    outline: none;
    text-decoration: none;
    text-decoration-skip-ink: none;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a:focus img{
    outline: none;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a > div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}
/* Classic */
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a > div{
    opacity:1;
    transition: all 0.3s ease;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a:hover > div{
    opacity:0.8;
    transition: all 0.3s ease;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item a{
    border-radius: 6px;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-image{
    order:1;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-image img{
    width: 100%;
    max-width: 100%;
    object-fit: contain;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-date{
    position: absolute;
    top:1rem;
    left:1rem;
    z-index: 1;
    background-color: rgba(255,255,255,0.6);
    display: flex;
    width: auto;
    border-radius: 6px;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-date span{
    line-height: 1;
    padding: 0.5rem;
    font-size: 14px;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-title{
    order:2;
    padding:0 1rem;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-title.no-image{
    margin-top: 2rem;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-title h3{
    padding: 1rem 0;
}
.quick-ajax-posts-wrapper.quick-ajax-style .quick-ajax-post-item .post-desc{
    order:3;
    padding:0 1rem 1rem;
}



.quick-ajax-posts-wrapper.loading{
    margin-bottom: 0;
}
.quick-ajax-posts-wrapper.loading{
    margin-bottom: 300px;
}
.quick-ajax-posts-wrapper .quick-ajax-load-more{
    display: block;
    width: 100%;
}
.quick-ajax-posts-wrapper.loading .quick-ajax-load-more{
    display: none;
}
.quick-ajax-posts-wrapper .quick-ajax-load-more-button.quick-ajax-button{
    display: block;
    width: auto;
    margin:0 auto;
}

.quick-ajax-posts-wrapper .quick-ajax-loader-icon-wrapper{
    visibility: hidden;
    opacity:0;
    display: flex;
    justify-content: center;
    margin:1rem auto;
    transition: all 0.1s ease;
}
.quick-ajax-posts-wrapper.loading .quick-ajax-loader-icon-wrapper{
    visibility: visible;
    opacity:1;
    transition: all 0.3s ease;
}

/* Loader Icon Default */
.quick-ajax-loader-default {
    border: 8px solid #ebeaea;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: loader-one-spin 2s linear infinite;
  }
  
  @keyframes loader-one-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/* Loader Dot */
.quick-ajax-loader-dot {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quick-ajax-loader-dot .dot {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    margin: 5px;
    animation: dotPulse 1.2s infinite ease-in-out both;
}

.quick-ajax-loader-dot .dot:nth-child(1) { animation-delay: -0.24s; }
.quick-ajax-loader-dot .dot:nth-child(2) { animation-delay: -0.12s; }
.quick-ajax-loader-dot .dot:nth-child(3) { animation-delay: 0; }

@keyframes dotPulse {
    0%, 100% {
        transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
}
/* Loader Wave */
.quick-ajax-loader-wave {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.quick-ajax-loader-wave .wave {
    width: 5px;
    height: 30px;
    background: rgba(255,255,255,0.1);
    margin: 0 2px;
    
    animation: wave 1.2s infinite ease-in-out;
}
.quick-ajax-loader-wave .wave:nth-child(1) { animation-delay: -1.1s; }
.quick-ajax-loader-wave .wave:nth-child(2) { animation-delay: -1.0s; }
.quick-ajax-loader-wave .wave:nth-child(3) { animation-delay: -0.9s; }
.quick-ajax-loader-wave .wave:nth-child(4) { animation-delay: -0.8s; }
.quick-ajax-loader-wave .wave:nth-child(5) { animation-delay: -0.7s; }
  
@keyframes wave {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        background: rgba(255,255,255,1);
    }
}
  