/* filter */
.quick-ajax-filter-container.quick-ajax-theme{
    margin-bottom: 2rem;
    text-align: center;
}
.quick-ajax-filter-container.quick-ajax-theme .qapl-button{
    margin:5px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1;
    border:2px solid  #1e1e1e;
    background-color: #1e1e1e;
    color: #ffffff;
    -webkit-box-shadow: 0 0 22px rgba(0,0,0,0.2);
            box-shadow: 0 0 22px rgba(0,0,0,0.2);
    border-radius: 21px;
    outline:unset;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-filter-container.quick-ajax-theme .qapl-button:focus{
    outline: none;
    text-decoration: none;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}
.quick-ajax-filter-container.quick-ajax-theme .qapl-button:hover,
.quick-ajax-filter-container.quick-ajax-theme .qapl-button.active{
    border:2px solid  #1e1e1e;
    background-color: transparent;
    color: #1e1e1e;
    -webkit-box-shadow: 0 0 14px rgba(0,0,0,0.5);
            box-shadow: 0 0 14px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.quick-ajax-posts-container.quick-ajax-theme .quick-ajax-posts-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc(100% + 2rem);
    margin-left:-1rem;
}

.quick-ajax-posts-container.quick-ajax-theme .qapl-no-posts-found{
    display: block;
    width: 100%;
}

/* post-item */
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width:100%;
    padding:1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-2 .qapl-post-item{
    width: calc(100% / 2); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-3 .qapl-post-item{
    width: calc(100% / 3); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-4 .qapl-post-item{
    width: calc(100% / 4); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-5 .qapl-post-item{
    width: calc(100% / 5); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-6 .qapl-post-item{
    width: calc(100% / 6); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-7 .qapl-post-item{
    width: calc(100% / 7); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-8 .qapl-post-item{
    width: calc(100% / 8); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-9 .qapl-post-item{
    width: calc(100% / 9); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-10 .qapl-post-item{
    width: calc(100% / 10); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-11 .qapl-post-item{
    width: calc(100% / 11); 
}
.quick-ajax-posts-container.quick-ajax-theme .col-qty-12 .qapl-post-item{
    width: calc(100% / 12); 
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a:focus{
    outline: none;
    text-decoration: none;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a > div{
    position: relative;
    display: block;
    width: 100%;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item a{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/* Default Post Item Template */
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a{
    background-color:#fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-decoration: none;
    border-radius: 6px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:focus img{
    outline: none;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:hover{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a > div{
    opacity:1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default a:hover > div{
    opacity:0.8;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-image{
    -webkit-box-ordinal-group:2;
        -ms-flex-order:1;
            order:1;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-image img{
    width: 100%;
    height: 100% !important;
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-date{
    position: absolute;
    top:1rem;
    left:1rem;
    z-index: 1;
    background-color: rgba(255,255,255,0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    border-radius: 6px;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-date span{
    line-height: 1;
    padding: 0.5rem;
    font-size: 14px;
    font-weight:bold;
    color:#1e1e1e;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title{
    -webkit-box-ordinal-group:3;
        -ms-flex-order:2;
            order:2;
    padding:0.5rem 1rem 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title,
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-title > *{
    color:#1e1e1e;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-no-image + .qapl-post-title{
    margin-top: 3rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description{
    -webkit-box-ordinal-group:4;
        -ms-flex-order:3;
            order:3;
    padding:0 1rem 1rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description,
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-post-description *{
    color:#1e1e1e; 
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-post-item.qapl-post-item-default .qapl-read-more{
    -webkit-box-ordinal-group:5;
        -ms-flex-order:4;
            order:4;
    text-align: right;
    padding: 0 1rem 1rem;
    color:#1e1e1e;
    margin-top: auto;
}


.quick-ajax-posts-container.quick-ajax-theme.loading{
    margin-bottom: 0;
}
.quick-ajax-posts-container.quick-ajax-theme.loading{
    margin-bottom: 5rem;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-container{
    display: block;
    width: 100%;
}
.quick-ajax-posts-container.quick-ajax-theme.loading .qapl-load-more-container{
    display: none;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-container{
    display: block;
    width: 100%;
    opacity:1;
    margin-top: 2rem;
    /* transition: all 0.3s ease; */
}
.quick-ajax-posts-container.quick-ajax-theme.loading .qapl-load-more-container{
    opacity:0;
    /* transition: all 0.3s ease;     */
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-button{
    display: block;
    width: auto;
    margin:0 auto;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-container .qapl-load-more-button{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 1;
    border: 2px solid #1e1e1e;
    background-color: #1e1e1e;
    color: #ffffff;
    -webkit-box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 22px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    outline:unset;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.quick-ajax-posts-container.quick-ajax-theme .qapl-load-more-container .qapl-load-more-button:hover {
    border: 2px solid #1e1e1e;
    background-color: transparent;
    color: #1e1e1e;
    -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container .qapl-loader-container{
    visibility: hidden;
    opacity:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin:1rem auto;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.quick-ajax-posts-container.loading .qapl-loader-container{
    visibility: visible;
    opacity:1;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.quick-ajax-posts-container .quick-ajax-posts-wrapper + .qapl-loader-container{
    margin-top: 5rem;
}

/* Loader Icon Default */
.qapl-loader-default {
    border: 8px solid #ebeaea;
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: loader-one-spin 2s linear infinite;
            animation: loader-one-spin 2s linear infinite;
  }
  
  @-webkit-keyframes loader-one-spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  @keyframes loader-one-spin {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
/* Loader Dot */
.qapl-loader-dot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.qapl-loader-dot .dot {
    width: 15px;
    height: 15px;
    background: rgba(255,255,255,1);
    border-radius: 50%;
    margin: 5px;
    -webkit-animation: dotPulse 1.2s infinite ease-in-out both;
            animation: dotPulse 1.2s infinite ease-in-out both;
}

.qapl-loader-dot .dot:nth-child(1) { -webkit-animation-delay: -0.24s; animation-delay: -0.24s; }
.qapl-loader-dot .dot:nth-child(2) { -webkit-animation-delay: -0.12s; animation-delay: -0.12s; }
.qapl-loader-dot .dot:nth-child(3) { -webkit-animation-delay: 0; animation-delay: 0; }

@-webkit-keyframes dotPulse {
    0%, 100% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}

@keyframes dotPulse {
    0%, 100% {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }
}
/* Loader Wave */
.qapl-loader-wave {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.qapl-loader-wave .wave {
    width: 5px;
    height: 30px;
    background: rgba(255,255,255,0.1);
    margin: 0 2px;
    
    -webkit-animation: wave 1.2s infinite ease-in-out;
    
            animation: wave 1.2s infinite ease-in-out;
}
.qapl-loader-wave .wave:nth-child(1) { -webkit-animation-delay: -1.1s; animation-delay: -1.1s; }
.qapl-loader-wave .wave:nth-child(2) { -webkit-animation-delay: -1.0s; animation-delay: -1.0s; }
.qapl-loader-wave .wave:nth-child(3) { -webkit-animation-delay: -0.9s; animation-delay: -0.9s; }
.qapl-loader-wave .wave:nth-child(4) { -webkit-animation-delay: -0.8s; animation-delay: -0.8s; }
.qapl-loader-wave .wave:nth-child(5) { -webkit-animation-delay: -0.7s; animation-delay: -0.7s; }
  
@-webkit-keyframes wave {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
        background: rgba(255,255,255,1);
    }
}
  
@keyframes wave {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
                transform: scaleY(0.4);
    }
    20% {
        -webkit-transform: scaleY(1.0);
                transform: scaleY(1.0);
        background: rgba(255,255,255,1);
    }
}


/* Image Background Post Template */
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img {
    position: relative;
    overflow: hidden;
    color: #fff;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a{
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 4px;
    -o-object-position: center;
       object-position: center;
    object-fit: cover;
    z-index: 1;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-no-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    border-radius: 4px;
    z-index: 0;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .post-content {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; /* enables alignment and ensures height */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; /* ensures content is stacked vertically */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; /* spaces items evenly or pushes them to edges */
    height: 100%; /* takes full height of parent */
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .post-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -200%;
    width: 200%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0,0,0,0.9) 0%, rgba(0, 0, 0, 0.1) 65%, rgba(0,0,0,0) 70%, rgba(0,0,0,0) 100%);
    opacity: 0;
    z-index: -1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a:hover > .post-content::before {
    left:0;
    opacity: 1; 
    -webkit-transition: all 0.6s ease; 
    transition: all 0.6s ease;
}

.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-date{
    position: relative;
    background: none;
    line-height: 1;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-date span{
    padding:0;
    margin-bottom: 0.5rem;
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title{
    padding-top: 3rem;
    margin-top: auto;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title,
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-title *{
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-description,
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-post-description *{
    color:#fff;
    text-decoration: none;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img .qapl-read-more{
    text-align: right;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin-top: 1rem;
    margin-left: auto;
    margin-bottom: 0;
    padding: 6px 20px 8px;
    text-transform: uppercase;
    border-radius: 7px;
    line-height: 1;
    opacity:0;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.quick-ajax-posts-container .qapl-post-item.qapl-post-item-bg-img a:hover .qapl-read-more {
    opacity:1;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}